@import 'variables';

.wrapper {
  background-color: $color-background;
  border: $size-border solid $color-border;
  border-radius: $size-radius;
  display: flex;
  align-items: center;
  position: relative;

  &.active {
    outline: ($size-border * 3) solid rgba($color-active, 0.2);
    border-color: $color-active;
  }
}

.input {
  font-family: inherit;
  font-size: 1.25em;
  padding: 0 $size-base;
  width: 100%;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

.indicator {
  display: flex;
  font-size: 0.75em;
  padding: $size-padding * 1.5;
  transition: 0.5s ease;

  &::after {
    content: '>';
    transform: rotate(90deg) scaleY(2);
    transition: 0.25s transform ease;
  }

  &.up {
    &::after {
      transform: rotate(-90deg) scaleY(2);
      transition: 0.25s transform ease;
    }
  }
}
