@use 'sass:math';

// should be defined into a _variables!
$color-border: gray;
$color-background: white;
$color-active: #007bff;
$size-base: 16px;
$size-radius: math.round(math.div($size-base, 2) * 1.25);
$size-padding: math.round(math.div($size-base, 2));
$size-border: 1px;

.button {
  background-color: $color-background;
  border: $size-border solid $color-border;
  border-radius: $size-radius;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 1em;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;

  &.active {
    outline: ($size-border * 3) solid rgba($color-active, 0.2);
    border-color: $color-active;
  }
}

.text {
  flex-grow: 1;
  padding: 0 $size-padding * 2;

  &.placeholder {
    color: rgba($color-border, 0.9);
  }
}

.indicator {
  display: flex;
  font-size: 0.75em;
  padding: $size-padding * 1.5;
  transition: 0.5s ease;

  &::after {
    content: '>';
    transform: rotate(90deg) scaleY(2);
    transition: 0.25s transform ease;
  }

  &.up {
    &::after {
      transform: rotate(-90deg) scaleY(2);
      transition: 0.25s transform ease;
    }
  }
}

.menu {
  background-color: $color-background;
  box-shadow: 0 0 ($size-border * 3) $color-border;
  border-radius: $size-radius;
  list-style: none;
  position: absolute;
  margin: 0;
  padding: $size-padding * 1.5;
  top: calc(100% + #{math.round(math.div($size-base, 2))});
  width: 100%;

  & li {
    padding: $size-padding;
    display: flex;
    justify-content: space-between;

    &.selected,
    &:hover,
    &:focus {
      background-color: rgba($color-border, 0.15);
    }

    &.selected {
      color: $color-active;
      &::after {
        content: '\2713';
      }
    }
  }
}
